.header-color {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #353638, #1a0808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;  
}

.background {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #353638, #1a0808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.css-layout {
  max-width: 978px;
  width: 100%;
  margin: 64px auto 70px;
  padding: 0 38px;
  color: rgba(255,255,255,0.7);
  box-sizing: border-box;
}

.button-css {
  border: none;
  border-radius: 60px;
  font-size: 14px;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
  text-align: center;
  outline: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: 'ProximaNova-Bold',Arial,sans-serif;
  -webkit-transition: box-shadow 90ms,-webkit-transform 90ms;
  -webkit-transition: box-shadow 90ms,transform 90ms;
  transition: box-shadow 90ms,transform 90ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #ffffff;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgb(165, 33, 19), #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(128deg,#e21a1a,#e30000); */

  box-shadow: 0 9px 24px 0 rgba(31, 31, 31, 0.43);
  width: 219px;
  height: 40px;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
}

.css-desc {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 50px;
  position: relative;
  font-family: 'ProximaNova-Medium', Arial, sans-serif;
  font-weight: 400;
  color: white;
}

.css-desc h2 {
  display: inline-block;
  font-size: 32px;
  margin-right: 16px;
  line-height: 1.1;
  margin-bottom: 6px;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.css-desc p {
  color: rgba(255,255,255,0.7);
  max-width: 600px;
}

.css-box {
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  background: rgba(255,255,255,0.15);
  border-radius: 4px;
  padding: 30px 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 328px;
  box-sizing: border-box;

}

.css-left {
  min-width: 288px;
  width: 288px;
  margin-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.css-imdb-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  height: 32px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-imdb-rating p {
  width: 53px;
  min-width: 53px;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
  -webkit-letter-spacing: 1.2px;
  -moz-letter-spacing: 1.2px;
  -ms-letter-spacing: 1.2px;
  letter-spacing: 1.2px;
  line-height: 16px;
  margin-right: 28px;
}

.css-select {
  position: relative;
  padding: 6px 10px 24px 16px; 
}

.css-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 90px;
}

.css-right h2 {
  font-size: 24px;
  margin-bottom: 13px;
  margin-top: 0%;
  max-height: 2em;
  flex-shrink: 0;
  color: white;
  overflow: hidden;
}

.css-cover-container {
  min-width: 163px;
  width: 163px;
  height: 248px;
  position: relative;
  
}

.css-cover-fill {
  contain: strict;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 50, 57, 0.8);
  overflow: hidden;
}

.css-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.css-info {
  margin-left: 24px;
  height: 248px;
  display: flex;
  flex-flow: column nowrap;
}

.css-movie-stats {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  max-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.css-movie-stats span {
  line-height: 18px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
}

.css-overview {
  line-height: 18px;
  font-size: 14px;
  max-height: 144px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.css-entry {
  font-family: 'ProximaNova-Bold',Arial,sans-serif;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 0;
}

.css-entrybox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 90px;
}